body {
  font-size: 18px;
  background: white;
  color: black;
  overflow-x: hidden;
  font-family: 'quicksand';
}

a{
  color: black;
}

.navbar-container {
  width: 1440px;
  height: 104px;
  background-color: #ffffff;
  position: absolute;
  box-shadow: 8px 4px 20px rgba(169, 169, 169, 0.15);
}